{% extends "base.html" %}

{% block tab_content %} 
    {{object.title}}
{% endblock %}

{% block page_content %}
    <div class="container">
            <div class="row">
            <div class="col-lg-8">
                <h1 class="mt-4">Contact</h1>
                <hr>
                <!-- Post Content -->
                <form method="post">
                    {% csrf_token %}
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    <input class="btn btn-danger" type="submit" name="confrim" value="Confirm">
                    <a class="btn btn-success" href="{% url 'contact:read' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}