{% extends "base.html" %}

{% block tab_content %} 
    Email
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">Email</h1>
                <hr>            
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method='POST' > 
                    {% csrf_token %}
                    {% comment %} <table class="table table-sm table-borderless"> {% endcomment %}
                    <div class="form-group">
                    {{ form }}
                    </div>
                    {% comment %} </table> {% endcomment %}
                    <input type='submit' class="btn btn-primary" value='Send Message' />
                </form>
            </div>
        </div>
    </div>
{% endblock %}